<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="{{ asset('css/style.css')}}">
		<title>
			{% block title %}{% endblock %}
		</title>
	</head>
	<body>
		<header>
			<h1>Mon Blog</h1>
			<nav>
				<ul>
					<li><a href="{{ path ('home') }}">Home</a></li>
					<li><a href="{{ path ('create-article') }}">Create an article</a></li>
					<li><a href="{{ path ('list-articles') }}">Articles list</a></li>
					<li><a href="{{ path ('categories') }}">Categories list</a></li>
					<li><a href="{{ path ('create-category') }}">Create a category</a></li>
		
				</ul>
			</nav>
		</header>


		{% block main %}{% endblock main %}

	</body>
</html>
