<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Piscine_Blog</title>
	</head>
	<body>
		<header>
			<h2>Mon Blog</h2>
			<nav>
				<ul>
					<li> <a href="{{ path ('home') }}">Home</a></li>
					<li><a href="{{ path ('create-article') }}">Create an article</a></li>
					<li><a href="{{ path ('list-articles') }}">Articles list</a></li>
				</ul>
			</nav>
		</header>

		<main>

			<h2>Liste des articles</h2>

            {% for article in articles %}

            <p> {{ article.title }}</p>
            <p> {{ article.description }}</p>
            <p> {{ article.content }}</p>
            <p> {{ article.image }}</p>
            <p> {{ article.title }}</p>
            <p> {{ article.createdAt | date ('d/m/Y') }}</p>
                
            {% endfor %}
			
		</main>

	</body>
</html>
